/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
$darkgray: #383A37;
$slate: #585858;
$teal: #3C6E71;
$white: #FCFCF5;
$gray: #D9D9D9;
$tan: #D3D8C4;
$khaki: #BBC0A9;
$blue: #048897;
$red: #680909;

html, body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: $slate;
}

h3, h4 {
  font-family: 'Fauna One', serif;

}
p, label, a {
  color: $slate;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  // font-family: 'Lora', serif;

}

a {
  color: $teal;
}

  #nav.navbar.navbar-inverse {
    background: $darkgray;

    font-family: 'Fauna One', serif;
    a {
      color: $white;
      cursor: pointer;
      font-family: 'Roboto', sans-serif;
    }
    .dropdown-menu {
      background: $darkgray;
    }
  }
