/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
$darkgray: #383A37;
$slate: #585858;
$teal: #3C6E71;
$white: #FCFCF5;
$gray: #D9D9D9;
$tan: #D3D8C4;
$khaki: #BBC0A9;
$blue: #048897;
$red: #680909;

html, body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: white;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: $slate;
}


h4 {
  font-family: 'Fauna One', serif;
  font-size: 16px;

}
p, label {
  color: $slate;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px
  // font-family: 'Lora', serif;

}

a {
  color: $teal;
}


// INPUT
input{
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
}
.form-control:focus{
  border-color: $teal;
}
// BUTTONS
.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.btn.btn-outline-primary {
  border: 2px solid $blue;
  color: $blue;
  border-radius: 1em;
}
.btn-outline-primary:hover {
  background: $blue;
  color: white;
}
.btn-outline-warning {
  border: 2px solid $khaki;
  border-radius: 1em;
  color: $khaki;
}
.btn-outline-warning:hover {
  background: $khaki;
  border: 2px solid $khaki;
  color: white;
}

.plus, .minus, .edit, .upgrade {
  color: $slate;
  background: white;
  width: 31px;
  padding: 4px;
  text-align: center;
  line-height: normal;
  cursor: pointer;
  border-radius: 25px;
  border: 2px solid $slate;
}
.upgrade {
  width: auto;
  padding: 7px 15px;
}
.plus:hover, .minus:hover, .edit:hover, .upgrade:hover {
  text-decoration: none;
  background-color: $slate;
  color: white;
}

#edit-button-group {
  .edit, .minus {
    margin: 1em;

  }
}
// NAVIGATION
  #nav.navbar.navbar-inverse {
    background: $darkgray;

    font-family: 'Fauna One', serif;
    a {
      color: white;
      cursor: pointer;
      font-family: 'Roboto', sans-serif;
    }
    .navbar-brand {
      font-family: 'Playfair Display', serif;
      color: white;
    }

    .nav-link{
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 300;
    }
    .dropdown-menu {
      background: $darkgray;
    }
  }

// PAGINATION
.paginator {
  width: 100%;
  .pagination {
    width: 100%;
    justify-content: space-around;
  }
}

// LAYOUT
.section {
  margin-bottom: 30px
}
